apiVersion: v1
kind: Secret
metadata:
  name: oauth2-proxy-secret
  namespace: {{ spezi_service_name }}
type: Opaque
stringData:
  client-id: oauth2-proxy
  client-secret: REPLACE_ME
  # Generate cookie-secret with `dd if=/dev/urandom bs=32 count=1 2>/dev/null | base64 | tr -d -- '\n' | tr -- '+/' '-_' ; echo`
  cookie-secret: O7AO2iQ08bGHjrwuGUQF_tD6ElRF_Fj08Yt46ueBcfs=