apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ SPEZI_SERVICE_NAME }}-db-bootstrap-config
  namespace: {{ SPEZI_SERVICE_NAME }}
data:
  database: {{ SPEZI_SERVICE_NAME }}
  owner: {{ SPEZI_SERVICE_NAME }}
  secret-name: {{ SPEZI_SERVICE_NAME }}-db-password