apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ spezi_service_name }}-db-bootstrap-config
  namespace: {{ spezi_service_name }}
data:
  database: {{ spezi_service_name }}
  owner: {{ spezi_service_name }}
  secret-name: {{ spezi_service_name }}-db-password