apiVersion: v1
kind: Secret
metadata:
  name: {{ spezi_service_name }}-postgres-credentials
  namespace: {{ spezi_service_name }}
type: kubernetes.io/basic-auth
data:
  # TODO: still need to template this, or use ansible filters to generate random
  username: REPLACE_ME
  password: REPLACE_ME
