apiVersion: v1
kind: Secret
metadata:
  name: {{ SPEZI_SERVICE_NAME }}-postgres-credentials
  namespace: {{ SPEZI_SERVICE_NAME }}
type: kubernetes.io/basic-auth
data:
  # TODO: still need to template this, or use ansible filters to generate random
  username: REPLACE_ME
  password: REPLACE_ME
