apiVersion: v1
kind: Secret
metadata:
  name: {{ spezi_service_name }}-postgres-credentials
  namespace: {{ spezi_service_name }}
type: kubernetes.io/basic-auth
data:
  # TODO: template this, or use ansible filters to generate random
  # This is "changeme" in base64
  username: Y2hhbmdlbWUgLW4K
  # This is "CHANGE_ME" in base64
  password: Q0hBTkdFX01FIC1uCg==
