# {{ SPEZI_SERVICE_NAME }}

<!-- markdown-link-check-disable-next-line -->
[Live Deployment](https://{{ SPEZI_SERVICE_FQDN }})

# TODO: Add this once we template it.
[ArgoCD](https://example.com)

## Prerequisites:
* kubeseal (`brew install kubeseal`)
* Google Cloud SDK/CLI (`brew install google-cloud-sdk`)

## Optional/Nice-to-have:
* [Optional] K9S (`brew install k9s`), highly recommended to manage the cluster via CLI with a nice TUI. 
