apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ spezi_service_name }}-backend-config
  namespace: {{ spezi_service_name }}
data:
  # TODO: make these conditionally render depending on whether or not user is using Postgres
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "{{ spezi_service_name }}"
  POSTGRES_DATABASE: "{{ spezi_service_name }}"
  PG_HOST: "{{ spezi_service_name }}-db-rw"

  # TODO: make these conditionally render depending on whether or not user is using Redis
  REDIS_HOST: "{{ spezi_service_name }}-redis-master"
  REDIS_PORT: "6379"
  
  PORT: "3003"
  MODE: "DEV"
  ALLOWED_ORIGINS: "{{ 'https://{}'.format(spezi_service_fqdn),'http://{}'.format(spezi_service_fqdn) }},http://127.0.0.1,http://localhost:5173"
  AUTH_URL: "{{'https://{}/auth'.format(spezi_service_fqdn)}}"
  OAUTH_REALM: "{{ spezi_service_name }}"
  OAUTH_CLIENT_ID: "{{ spezi_service_name }}-secret"
