apiVersion: v1
kind: Secret
metadata:
  name: {{ spezi_service_name }}-backend-secret
  namespace: {{ spezi_service_name }}
  labels: {}
data:
  # This is "example_secret" base64 encoded, e.g. `echo -n "example_secret" | base64`
  OAUTH_CLIENT_SECRET: ZXhhbXBsZV9zZWNyZXQ= 
