apiVersion: v1
kind: Service
metadata:
  name: {{ spezi_service_name }}-backend-service
  namespace: {{ spezi_service_name }}
spec:
  selector:
    app: {{ spezi_service_name }}-backend
  ports:
  - protocol: TCP
    port: 3003
    targetPort: 3003