apiVersion: v1
kind: Service
metadata:
  name: {{ SPEZI_SERVICE_NAME }}-backend-service
  namespace: {{ SPEZI_SERVICE_NAME }}
spec:
  selector:
    app: {{ SPEZI_SERVICE_NAME }}-backend
  ports:
  - protocol: TCP
    port: 3003
    targetPort: 3003