---
apiVersion: v1
kind: Secret
metadata:
  name: private-repo-server
  namespace: {{ SPEZI_SERVICE_NAME }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ SPEZI_SERVICE_REPO_URL }}
  password: REPLACE_ME
  username: REPLACE_ME