apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ SPEZI_SERVICE_NAME }}-frontend-config
  namespace: {{ SPEZI_SERVICE_NAME }}
data:
  VITE_API_BASE: "https://{{ SPEZI_SERVICE_FQDN }}/"
  OAUTH_AUTHORITY: ({{ '/'.join(https://SPEZI_SERVICE_FQDN, auth, realms, SPEZI_SERVICE_NAME ) }})
  OAUTH_REDIRECT_URI: "https://{{ SPEZI_SERVICE_FQDN }}"
  OAUTH_CLIENT_ID: "{{ SPEZI_SERVICE_NAME }}"