apiVersion: v1
kind: Secret
metadata:
  name: {{ spezi_service_name }}-frontend-secret
  namespace: {{ spezi_service_name }}
type: Opaque
stringData:
  # Example secret, for a VITE frontend. Can either be base64 encoded or plaintext.
  VITE_OAUTH_CLIENT_SECRET: REPLACE_ME