apiVersion: v1
kind: Secret
metadata:
  name: {{ SPEZI_SERVICE_NAME }}-frontend-secret
  namespace: {{ SPEZI_SERVICE_NAME }}
type: Opaque
stringData:
  # Example secret, for a VITE frontend. Can either be base64 encoded or plaintext.
  VITE_OAUTH_CLIENT_SECRET: REPLACE_ME