apiVersion: v1
kind: Service
metadata:
  name: {{ SPEZI_SERVICE_NAME }}-frontend-service
  namespace: {{ SPEZI_SERVICE_NAME }}
spec:
  selector:
    app: {{ SPEZI_SERVICE_NAME }}-frontend
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 80
  type: ClusterIP