---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ SPEZI_SERVICE_NAME }}-main-tls-cert
  namespace: {{ SPEZI_SERVICE_NAME }}
spec:
  commonName: {{ SPEZI_SERVICE_FQDN }}
  secretName: {{ SPEZI_SERVICE_NAME }}-main-tls-secret
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - "{{ SPEZI_SERVICE_FQDN }}"