realm: "{{ SPEZI_SERVICE_NAME }}"
identityProviders:
  - alias: google
    providerId: google
    enabled: true
    updateProfileFirstLoginMode: "on"
    trustEmail: true
    storeToken: false
    addReadTokenRoleOnCreate: false
    config:
      clientId: "your-google-client-id"
      clientSecret: "your-google-client-secret"
      useUserIpParam: false
      userIp: ""
      hostedDomain: ""
      prompt: "unspecified"
      redirectUris:
        - "{{ '/'.join(SPEZI_SERVICE_FQDN, /auth/realms/{{ SPEZI_SERVICE_NAME }}/broker/google/endpoint) }}"
      defaultScopes: "openid profile email" 
    postBrokerLoginFlowAlias: ""
    firstBrokerLoginFlowAlias: ""