# currently requires manual setup: https://registry.terraform.io/providers/mrparkers/keycloak/latest/docs
provider "keycloak" {
    client_id     = "tofu"
    # TODO: get this automatically from the template/setup.
    client_secret = ""
    url           = "{{ 'https://{}/auth'.format(SPEZI_SERVICE_FQDN) }}"
}

terraform {
    required_providers {
        keycloak = {
            source = "mrparkers/keycloak"
            version = ">= 4.0.0"
        }
    }
}