resource "keycloak_realm" "realm" {
  realm   = "{{ SPEZI_SERVICE_NAME }}"
  enabled = true
}


# configured per: https://oauth2-proxy.github.io/oauth2-proxy/configuration/providers/keycloak_oidc 
resource "keycloak_openid_client" "oauth2_proxy_client" {
  realm_id            = keycloak_realm.realm.id
  client_id           = "oauth2-proxy"

  name                = "oauth2-proxy"
  enabled             = true

  access_type         = "CONFIDENTIAL"
  valid_redirect_uris = [
    "{{ '/'.join(SPEZI_SERVICE_FQDN, 'oauth2/callback') }}"
  ]

  direct_access_grants_enabled = false 
  standard_flow_enabled        = true

  login_theme = "keycloakify-starter"

  extra_config = {
    "key1" = "value1"
    "key2" = "value2"
  }
}